.card{
    height: 40%;
    width:90%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    align-content: center;
    margin-left: 20px;
    margin-bottom: 10px;
}
p{
margin-left: 20px;
}
button{
    height: 10%;
    width:30%;
    background-color: rgb(216, 17, 50);
    border: 0;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}