<h1 align="center">shopping</h1>
<div class="body">
    <div class="left">
        <div class="left1">
            <h3 align="center">create-product</h3>
            <app-create-product></app-create-product>         
        </div>
       
        <div class="left2">
            <h3 align="center" class="ope">operations</h3>
            <app-operations></app-operations>
         </div>
    </div>
    
    
    <div class="middle">
        <app-all-products></app-all-products>
    </div>
    <div class="right">
    <app-view-product></app-view-product>
    </div>
</div>

