form{
    height: 100%;
    width: 100%;
    background-color:aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 10px;
    font-size: x-large;
    text-align: center;
    align-items: center;
    align-content: center;
    input{
        width: 250px;
        height: 30px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
}